.laggagetag{
    width: 16vw;
}
.articles{
    text-align: left;
    margin: 40px;
}
.aaa{
    position: relative;
}
h3{
    position: absolute;
    font-size: 1.75vw;
    color: var(--FontColor);
    
}
.ArticleText{
    position: absolute;
    font-size: 1vw;
    top: 0%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000;
}
.ccc{
position: absolute;
width: 88%;
height: 58%;
top: 50%;
left: 5%;
}
.Texts{
    text-align: left;
    width: 90%;
    height: 30%;
    position: absolute;
    top:65%;
    left:5%;
    flex-direction: column;
}