body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
ul{
    display: block;
}
    /*以下メニュー*/
.top-page-link{
    text-decoration: none;
    color: var(--FontColor);
    font-size:2.5vw;
    font-weight: bold;
}
.navigate{
    position: fixed;
    top:  5px;
    right: 20px;
    z-index: 1500;
}
.menu{
    text-align: left;
    margin: 20px;
}