:root{
    --FontColor:rgb(37, 138, 141);
}
body{
    margin: 0;
    padding: 0;

}
li{
    list-style: none;
}
ul{
    display: block;
}
    /*以下メニュー*/
.top-page-link{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    font-weight: bold;
}
.navigate{
    position: fixed;
    top:  5px;
    right: 20px;
    z-index: 1500;
}
.menu{
    text-align: left;
    margin: 20px;
}
/*以下トップページ*/
.page-top{
    width: 100%;
    position: relative;/*画像ずらせないので後回し*/
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.logo{
    width: 35%;
    z-index: 1000;
    position: absolute;
    top: 35%;
    left: 7.5%;
}
.top-illust{
    width: 96.5%;
    height: 100%;
    z-index: 500;
    left: 0px;
}
/*以下ブログページ*/
h1{
    cursor: default;
    margin: 25px 0px 0px 0px;

    -webkit-text-stroke: 1.5px var(--FontColor);
    color: rgba(0, 0, 0, 0);
    font-size: 25vw;
    z-index: -500;
}
.page-blog{
    display: flex;
    justify-content: space-around;
    
}
.WhiteBox{
    position: absolute;
    top:0;
    left: 5%;
    width: 15%;
    height: 50%;
    background-color: #ffffff;
    z-index: 750;
}